.Form {
  width: 300px;
}
.Form--group-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Form--group {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.Form--control {
  border-bottom: 1px solid #f7941d;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: white;
  line-height: 1.5rem;
  padding-top: 7px;
}