.NavMenu {
  height: calc(40vh - 55px);
  width: 40%;
  background: #0a2c46;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #0a2c469d;
  will-change: width, height;
}
.NavMenu--ul {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5%;
}
.NavMenu--ul a {
  cursor: pointer;
}
.NavMenu--ul a:hover,
.NavMenu--ul a:active,
.NavMenu--ul a:focus {
  color: #f7941d;
}