.Home {
  min-height: 100%;
  min-width: 100%;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgray;
  z-index: -5;
}

.Home--info {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-evenly;
  height: 80%; 
  width: 98%;
  background: #ffffff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #0a2c469d;
  z-index: 3; 
}

.Home > div > div {
  background: rgb(236, 234, 234);
}

@media only screen and (min-width: 900px) {
  .Home--info {
    width: 85%;
  }
}

@media only screen and (min-width: 1400px ) {
  .Home--info {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: space-evenly;
    width: 80%;
  }
  .Home--button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}