.NavBar {
  position: fixed;
  height: 60px;
  background:#0a2c46;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  color: white;
  text-decoration: none;
  box-shadow: 0px 3px 6px #0a2c469d;
  border-radius: 0px 0px 4px 4px;
  z-index: 3;
}
.NavBar--logo a:hover {
  cursor: pointer;
}
.NavBar--nav {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-evenly;
}
.NavBar--nav a {
  cursor: pointer;
  margin: 8px;
}
.NavBar--nav a:hover,
.NavBar--nav a:active,
.NavBar--nav a:focus {
  color: #f7941d;
}
.NavBar--button {
  cursor: pointer;
  background: transparent;
  border: none;
}
.NavBar--button:focus {
  border: 1px solid #f7941d;
  padding: 10px;
}
.NavBar--li {
  padding: 1rem;
}
.NavBar--cta {
  padding: 1rem;
  border: 2px solid white;
  border-radius: 4px;
}
.NavBar--cta:hover, .NavBar--cta:active, .NavBar--cta:focus,
.NavBar--cta:hover a, .NavBar--cta:active a, .NavBar--cta:focus a {
  background: white;
  color: #f7941d;
}
.selected {
  color: #f7941d;
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (min-width: 600px) {
  .NavBar {
    padding: 0 5rem;
  }
  .NavBar--nav a {
    padding: 0 1.1rem;
  }
}

@media only screen and (min-width: 1366px) {
  .NavBar {
    padding: 0 12rem;
  }
}