.Testimonial {
  width: 95vw;
  height: auto;
  border-radius: 4px;
  background: #0a2c46;
  box-shadow: 0px 3px 6px #0a2c469d;
  color: white;
}
.Testimonial--item {
  width: 98%;
  height: 300px;
  padding: .5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Testimonial--img {
  height: 70px;
  width: auto;
  padding-top: 1rem;
}
.Testimonial--quote {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.Testimonial--person {
  padding-top: .2rem;
}
.Testimonial--button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.Testimonial--button {
  background: white;
  border: 1px solid white;
  border-radius: 33px;
  padding: .2rem;
  cursor: pointer;
}
.fade {
  opacity: 1;
  transition: opacity 100ms 80ms ease-in-out;
}
.fade-out {
  opacity: 0;
}
.transform {
  transition: transform 200ms ease-in-out;
}
.transform-x {
  transform: translate3d(0, -50vh, 0);
}

@media only screen and (min-width: 900px) {
  .Testimonial {
    width: 60%;
  }
}

@media only screen and (min-width: 1400px ) {
  .Testimonial {
    width: 40%;
  }
}